@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #111;
  color: #fff;
  margin: 0;
}
.lists {
  margin-top: -200px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  font-size: 20px;
  text-align: center;
}
footer div a {
  text-decoration: none;
  padding: 0px 15px;
  border-radius: 5px;
  margin: 0px 4px;
  background-color: #fff;
  color: #000;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px){
  .loading{
    margin-left: -100px;
  }
}